.debug(@color:#ff0000) {
  border: 1px solid @color;
}

.clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

// css rest 
body,
h1,
h3,
li,
ul {
  margin: 0;
  padding: 0;
}

li,
ul {
  list-style: none;
}

body {
  font-size: 14px Helvetica,Arial,sans-serif;
}

.top-bar {
  .clearfix();
  width: 900px;
  margin: 0 auto; //定宽居中设置
  background-color: rgb(255,255,255);

  .logo {
    float: left;
    .clearfix();

    img {
      float: left;
      width: 50px;
      height: 50px;
      padding: 20px 2px 5px;
    }

    h1 {
      float: left;
      margin-top: 25px;
      margin-left: 5px;
      font-size: 24px;
      color: rgb(5,120,180);
    }

  }

  .top-nav {
    .clearfix();
    float: left;
    margin-top: 14px;
    margin-left: 80px;

    li {
      // .debug(@color);
      .clearfix();
      float: left;
      padding: 4px 20px 2px;

      .zh {
        font-size: 18px;
      }

      .en {
        font-size: 12px;
      }

    }

  }

  .btn {
    .clearfix();
    float: right;
    margin-top: 20px;

    .login-btn {
      float: left;
      margin-right: 0;
      font-size: 14px;
      color: rgb(110,220,250);
      background: rgb(255,255,255);
      border: 1px solid rgb(110,220,250);
      border-right: none;
    }

    .register-btn {
      float: left;
      font-size: 14px;
      color: rgb(255,255,255);
      background: rgb(0,190,250);
      border: 1px solid rgb(110,220,250);
    }

  }

}

.page-header {
  width: 1060px;
  margin-left: 150px;
  background-color: rgb(0,36,70);

  .mian-nav {
    .clearfix();
    margin-left: 450px;

    li {
      // .debug(@color);
      float: left;
      font-size: 16px;
      color: rgb(255,255,255);
      padding: 3px 10px 2px;
      line-height: 1.2;
    }

  }

}

.section {
  .clearfix();
  width: 900px;
  margin: 0 auto;

  .section-left {
    float: left;

    .hospital {
      width: 210px;
      height: 180px;
      background-color: rgb(132,220,240);

      h3 {
        font-size: 18px;
        padding: 15px 0 0; //考虑到margin折叠，不使用margin-top
        margin-left: 30px;
        margin-right: 5px;
        border-bottom: 1px solid rgb(96,121,127);
      }

      .region {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
        margin-left: 30px;
        margin-top: 10px;
      }

      .hospital-grade-select {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
      }

      .hs {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
        margin-left: 30px;
        margin-top: 5px;
      }

      .department {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
      }

      .doctor {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
        margin-left: 30px;
        margin-top: 5px;
      }

    }

    .disease {
      width: 210px;
      height: 105px;
      background-color: rgb(130,243,237);

      h3 {
        font-size: 18px;
        padding: 15px 0 0;
        margin-left: 30px;
        margin-right: 5px;
        border-bottom: 1px solid rgb(96,121,127);
      }

      .disease-select {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
        margin-left: 30px;
        margin-top: 10px;
      }

      .syndrome-type {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
      }
    }

    .patient {
      width: 210px;
      height: 140px;
      background-color: rgb(132,220,240);

      h3 {
        font-size: 18px;
        padding: 15px 0 0;
        margin-left: 30px;
        margin-right: 5px;
        border-bottom: 1px solid rgb(96,121,127);
      }

      .sex {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
        margin-left: 30px;
        margin-top: 10px;
      }

      .classification {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
      }

      .age {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
        margin-left: 30px;
        margin-top: 5px;
      }

    }

    .others {
      width: 210px;
      height: 148px;
      background-color: rgb(130,243,237);

      h3 {
        font-size: 18px;
        padding: 15px 0 0;
        margin-left: 30px;
        margin-right: 5px;
        border-bottom: 1px solid rgb(96,121,127);
      }

      .up-time {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
        margin-left: 30px;
        margin-top: 10px;
      }

      .quality {
        border-radius: 90px;
        font-size: 16px;
        background-color: rgb(255,255,255);
      }

    }

  }

  .section-right {
    float: right;
    width: 690px;
    height: 570px;
    background-color: rgb(239,239,239);

    .record {
      .clearfix();
      border-bottom: 1px solid rgb(255,255,255);

      .doctor-number {
        float: left;
        font-size: 16px;
        margin-left: 40px;
        margin-top: 30px;
      }

      .case-num {
        float: left;
        font-size: 14px;
        margin-left: 300px;
        margin-top: 40px;
      }

      .icon-xiangxia5 {
        float: right;
        font-size: 24px;
        color: gray;
        margin-right: 40px;
        margin-top: 35px;
      }

    }

  }

}
